<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="submitForm()">
    <div flex flex-row justify>
        <nz-form-control>
        <div class="text-base">Tên bộ khung năng lực:</div>
        <input class="mt-3 w-96 " formControlName="groupAbilitiesName" nz-input placeholder="Nhập tên bộ khung năng lực">
    </nz-form-control>
    <div class=" flex flex-row ">
    <h2 class="mt-2 mb-2 ml-2 mr-16 text-lg">Danh sách năng lực</h2>
    <h2 class="mt-2 mb-2 text-lg">Năng lực được chọn</h2>
   </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div class="select-abilities" cdkDropListGroup  >
            <div class="example-container" > 
                <!-- <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
                    Bộ khung năng lực
                     <i nz-icon nzType="down"></i>
                   </button>
                   <nz-dropdown-menu #menu4="nzDropdownMenu">
                     <ul nz-menu>
                       <li nz-menu-item>Developer</li>
                       <li nz-menu-item>Hành chính nhân sự</li>
                       <li nz-menu-item>Kế toán</li>
                     </ul>
                   </nz-dropdown-menu> -->
               

                <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box " *ngFor="let item of todo" cdkDrag>{{item}}</div>
                </div>
            </div>

            <div class="example-container " >
               

                <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div  class="example-box " *ngFor="let item of done; index as idx" cdkDrag>{{item}}</div>
                </div>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
    </div>
    <div class="select-abilities">
        <button class="mt-3" nz-button [nzType]="'primary'" >Thêm </button>
        <button class="mt-3 ml-2" nz-button  (click)="closeModal()">Đóng </button>
    </div>
</form>