.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }

  // ::ng-deep .create-group-abi-modal {
  //   width: 90% !important;
  // }
  .p-alert {
    background: rgba(216, 125, 125, 0.1);
    border: 1px solid rgba(195, 67, 67, 0.2);
    padding: 20px 20px;
    font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }