<div>
  <h1 class="text-lg pb-5"> Năng lực đánh giá ứng viên </h1>
  <div class="p-alert">
      Năng lực đánh giá (abilities) giúp bạn xây dựng năng lực đánh giá ứng viên chính xác
  </div>
</div> 
<!-- Start Form add abilities -->
<form class="ant-advanced-search-form mt-5">
<div class="h-100 w-144 ">
    <ul class="mt-4" nz-list  nzBordered nzSize="large">
      <nz-list-header class="bg-gray-300">Danh sách các năng lực</nz-list-header>
      
      <li class=" hover:bg-slate-200" nz-list-item *ngFor="let item of criterias" nzNoFlex>
        <i class="text-xs text-gray-400" nz-icon nzType="right" nzTheme="outline"></i> 
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a class="text-xs text-gray-600 hover:text-blue-400" (click)="messageDelete()" >Chỉnh sửa</a>
            <a class=" ml-2 text-xs text-gray-600 hover:text-blue-400" (click)="abilitiesDelete(item.id)" >Xóa</a>
          </nz-list-item-action>
        </ul>
        {{ item.name }}
      </li>
     
    </ul>
    
     <button class="mt-4" nz-button nzType="primary"  (click)="openModal()">Tạo bộ khung năng lực</button>
    
 
</div>


</form>
<!-- End Form add abilities -->