<!-- Start Form add abilities -->
<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form mt-132" (ngSubmit)="submitForm()">
    <nz-form-label class="">Tên năng lực </nz-form-label>
    <nz-form-control >
        <input formControlName="abilities" class="name" nz-input placeholder="Nhập tên năng lực" type="text">
 
    <nz-form-label> Miêu tả </nz-form-label>
   
    <textarea formControlName="desc" class="name" nz-input placeholder="Miêu tả về năng lực này"
         [nzAutosize]="{ minRows: 2, maxRows: 3 }"></textarea>
    </nz-form-control>

    <nz-form-label> Câu hỏi phỏng vấn mẫu </nz-form-label>
    <!-- <div>
            <div *ngFor="let value of values; let i=index"> 
                <textarea nz-input [(ngModel)]="value.value" #name="ngModel" name="value{{i}}" placeholder="Miêu tả về năng lực này"
                    [nzAutosize]="{ minRows: 2, maxRows: 3 }"></textarea>
                <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removevalue(i)" ></i>
            </div>
            <button nz-button nzType="dashed" class="add-button" (click)="addvalue()">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                Thêm câu hỏi</button>
        </div> -->
    <!-- <nz-form-item *ngFor="let control of listOfControl; let i = index">
        <nz-form-control>
            <textarea class="name" nz-input placeholder="Câu hỏi sử dụng khi phỏng vấn năng lực này"
                [attr.id]="control.id" [nzAutosize]="{ minRows: 2, maxRows: 3 }"
                [formControlName]="control.controlInstance"></textarea>
            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                Thêm năng lực
            </button>
        </nz-form-control>
    </nz-form-item> -->
     <nz-form-item>
        <button nz-button nzType="dashed" class="add-button" >
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            Thêm câu hỏi</button>
     </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
            <div class="flex flex-row justify-evenly" nz-row>
                <div nz-col>
                    <button nz-button [nzType]="'primary'" (click)="createAbilities(validateForm.value)">Xác nhận</button>
                    <button class="ml-2" nz-button (click)="resetForm()">Hủy</button>
                    <!-- <button  nz-button  [nzType]="'primary'" (click)="createNewlist()"> Create</button>
                        <button  nz-button  [nzType]="'primary'" (click)="getList()">Get</button> -->


                </div>
            </div>
        </nz-form-control>
    </nz-form-item>

</form>
<!-- End Form add abilities -->